name: Build Nushell Release Images

on:
  push:
    branches:
      - main
    paths:
      - docker
  schedule:
    - cron: '15 2 * * *' # run at 02:15 AM UTC
  workflow_dispatch:

jobs:
  build-and-push-Nu:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        base: [debian, alpine]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Set up Nushell
        uses: hustcer/setup-nu@v3
        with:
          check-latest: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Set tag & labels for ${{ github.ref }}"
        shell: nu {0}
        run: |
          let tagName = http get https://api.github.com/repos/nushell/nushell/releases
                          | sort-by -r created_at | select tag_name | get tag_name.0
          git remote set-url origin https://github.com/nushell/nushell.git
          git fetch origin --tags
          let SHA = git rev-list -n 1 $tagName | str substring 0..7
          $'BUILD_REF=($SHA)(char nl)' o>> $env.GITHUB_ENV
          $'NU_VERSION=($tagName)(char nl)' o>> $env.GITHUB_ENV
          $'BUILD_DATE=(date now | format date %Y-%m-%dT%H:%M:%SZ)(char nl)' o>> $env.GITHUB_ENV

      - name: Build and Push Debian Image
        uses: docker/build-push-action@v6
        if: ${{ matrix.base == 'debian' }}
        with:
          push: true
          context: ./docker
          file: ./docker/debian.Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          # platforms: linux/amd64,linux/arm64,linux/riscv64
          build-args: |
            BUILD_REF=${{ env.BUILD_REF }}
            BUILD_DATE=${{ env.BUILD_DATE }}
            NU_VERSION=${{ env.NU_VERSION }}
          tags: |
            ghcr.io/nushell/nushell:latest-bookworm
            ghcr.io/nushell/nushell:${{ env.NU_VERSION }}-bookworm

      - name: Build and Push Alpine Image
        uses: docker/build-push-action@v6
        if: ${{ matrix.base == 'alpine' }}
        with:
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          context: ./docker
          file: ./docker/Dockerfile
          build-args: |
            BUILD_REF=${{ env.BUILD_REF }}
            BUILD_DATE=${{ env.BUILD_DATE }}
            NU_VERSION=${{ env.NU_VERSION }}
          tags: |
            ghcr.io/nushell/nushell:latest
            ghcr.io/nushell/nushell:latest-alpine
            ghcr.io/nushell/nushell:${{ env.NU_VERSION }}
            ghcr.io/nushell/nushell:${{ env.NU_VERSION }}-alpine
